/**********
COMMON STYLE
**********/
:root {
--text-primary: #fff;
--text-accent: #000;
--background-accent: #d9d9d9;
--background-primary: #EBEBEB;
--background-primary-banner: #fff;
--background-accent-banner: #000;
--footer-icon: #665f5f;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../assets/fonts/Gotham-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Book', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--text-accent);
}

.w-100{
    width: 100%;
}

.d-flex {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.min-width {
    min-width: 100%;
}

/*menu navbar e footer*/
.menu a {
    text-decoration: none;
    color: var(--text-primary);
    font-weight: normal;
    font-size: 0.9em;
    letter-spacing: 0.1em;
    position: relative;
}

.menu a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    top: 22px;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu a:hover:after { 
    width: 100%; 
    left: 0; 
}

/*caption*/
h1.caption {
    font-size: 5em;
    line-height: 1;
    font-weight: bold;
}

p.caption {
    font-size: 0.9em;
    line-height: 1.7;
    margin-top: 2em;
    letter-spacing: 0.1em;
}

/*button cta*/
.cta {
    height: 50px;
    width: 100%;
    background-color: var(--background-accent-banner);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    border: solid 1px var(--background-accent-banner);
    transition: 0.3s;
}

.cta::after { /*chevron button cta*/
    border-style: solid;
    border-width: 0.13em 0.13em 0 0;
    content: '';
    display: inline-block;
    height: 0.5em;
    position: absolute;
    left: 85%;
    transform: rotate(45deg);
    vertical-align: top;
    width: 0.5em;
    color: var(--text-primary);
    transition: 0.3s;
}

.cta:hover {
    background-color: var(--background-primary-banner);
    color: var(--text-accent);
    cursor: pointer;
}

/*animation page section*/
.reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.m-b-cookie {
    margin-bottom: 6em;
}

/***********
    HEADER
***********/
.my-header {
    height: 100vh;
    position: relative;
}

.my-header .container  { /*container navbar*/
    position: fixed;
    padding: 0 13em;
    z-index: 1001;
    display: none;
    top: 0;
    transition: 1s;
}

.my-header .container.sticky {
    background-color: var(--background-accent-banner);
}

.my-header .container .navbar,
.navbar .menu {
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}

.container .navbar .playground {/*logo navbar*/
    width: 12em;
    align-items: center;
}

.navbar .menu {
    width: 40%;
}

/*owl-carousel hero*/
.my-header .owl-theme .owl-item .slider-card {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-header .owl-theme .owl-item .slider-card .overlay-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.my-header .owl-theme .owl-item .slider-card.hello {
    background-image: url("../assets/images/slide-hello.jpg");
} 

.my-header .owl-theme .owl-item .slider-card.play {
    background-image: url("../assets/images/slide-play.jpg");
} 

.my-header .owl-theme .owl-item .slider-card.circle {
    background-image: url("../assets/images/slide-circle.jpg");
} 

.my-header .owl-item .slider-card .text{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 30%;
    top: 52%;
    color: var(--text-primary);
    width: 25%;
    z-index: 1000;
}

.my-header .owl-theme .owl-nav {
    margin-top: 0;
    padding: 0 2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-theme .owl-dots {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 50%;
}

.owl-theme .owl-dots .owl-dot span {
    background: #848282
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--text-primary)
}

.my-header .owl-nav .nav-btn::before {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    content: '';
    display: inline-block;
    height: 1em;
    position: relative;
    transform: rotate(-140deg);
    vertical-align: top;
    width: 1em;
    color: var(--text-primary);
}

.my-header .owl-nav .nav-btn.next-slide::before {
	left: 0;
    transform: rotate(45deg);
    color: var(--text-primary);
}

.my-header .owl-nav [class*=owl-]:hover {
    background: none !important;
}

/**************
SECTION 3 CARDS
**************/
div.cards {
    background-color: var(--background-primary);
    padding: 3em 0;
}

div.desktop.cards {
    display: none;
}

div.cards .container {
    align-items: center;
}

div.cards .container .card {
    width: calc((100% - 4em) / 3);
    flex-direction: column;
    align-items: center;
}

div.cards .container .card:nth-child(2) {
    margin: 0 2em;
}

div.cards .card .title {
    height: 100px;
}

div.cards .card .title {
    background-repeat: no-repeat;
    background-position: center;
}

div.cards .card .title.play-harder {
    background-image: url("../assets/images/card-play-harder.png");
    background-size: 130%;
}

div.cards .card .title.simplicity {
    background-image: url("../assets/images/card-simplicity.png");
    background-size: 125%;
    background-position: 0 50%;
}

div.cards .card .title.innovation {
    background-image: url("../assets/images/card-innovation.png");
    background-size: cover;
}

div.cards .card .text {
    height: 200px;
    text-align: center;
    padding: 2em 3.5em;
    line-height: 1.6em;
    background-color: var(--background-primary-banner);
    font-size: 1em;
}

div.cards .card .cta::after {
    content: unset;
}

/*slider cards mobile*/
div.cards .owl-theme .owl-dots {
    top: 105%;
}

div.cards .owl-theme .owl-dots .owl-dot.active span {
    background: var(--text-accent);
}

/*************
SECTION 3 BANNERS
*************/
div.banners .banner {
    height: 600px;
}

.banner .banner-image, 
.banner .banner-text {
    height: 100%;
}

.banner .banner-image {
    width: 58%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
}

.banner .banner-image.we-are {
    background-image: url("../assets/images/banner-we-are.jpg");
}

.banner .banner-image.we-do {
    background-image: url("../assets/images/banner-we-do.jpg");
    background-position: right;
}

.banner .banner-image.careers {
    background-image: url("../assets/images/banner-careers.jpg");
}

.banner-text {
    width: 42%;
    background-color: var(--text-accent);
    position: relative;
}

.banner-text .inner-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 40%;
    top: 50%;
    color: var(--text-primary);
    width: 50%;
}

.banner-text .inner-text .cta {
    width: 60%;
    margin-top: 2em;
    position: relative;
    width: 70%;
}

/*button primo e terzo banner*/
.banner:first-child .banner-text .inner-text .cta,
.banner:last-child .banner-text .inner-text .cta {
    border: solid 1px var(--text-primary);
}

.banner:first-child .banner-text .inner-text .cta:hover::after,
.banner:last-child .banner-text .inner-text .cta:hover::after {
    color: var(--text-accent);
}

/*banner centrale*/
div.banners .banner:nth-child(2) {
    flex-direction: row-reverse;
}

.banner:nth-child(2) .banner-text {
    background-color: var(--background-primary-banner);
}

.banner:nth-child(2) .banner-text .inner-text {
    color: var(--text-accent);
    left: 60%;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

/*button cta banner centrale*/
.banner:nth-child(2) .banner-text .inner-text .cta {
    background-color: var(--background-primary-banner);
    color: var(--text-accent);
    border: solid 1px var(--background-accent-banner);
}

.banner:nth-child(2) .banner-text .inner-text .cta:hover {
    background-color: var(--background-accent-banner);
    color: var(--text-primary);
}

.banner:nth-child(2) .banner-text .inner-text .cta::after {
    color: var(--text-accent)
}

.banner:nth-child(2) .banner-text .inner-text .cta:hover::after {
    color: var(--text-primary)
}

/***********
SECTION TABS
***********/
div.tabs {
    background: var(--background-primary);
    font-size: 0.9em;
    font-weight: bold;
}

div.tabs .container {
    align-items: flex-start;
    justify-content: center;
    padding: 3em 0;
}

div.tabs .container .tabs-box {
    width: 33%;
}

div.tabs .container .tabs-box .cta.disabled {
    background-color: var(--background-accent);
    color: var(--background-accent-banner);
    border-color: var(--background-primary-banner);
}

div.tabs .container .tabs-box .cta:hover,
div.tabs .container .tabs-box .cta.disabled:hover {
    background-color: var(--background-accent-banner);
    color: var(--text-primary);
    border: solid 1px var(--background-accent-banner);
    transition: 0.3s ease;
}

/*chevron button tab*/
div.tabs .container .tabs-box .cta::after {
    border-width: 0.2em 0.2em 0 0;
    position: relative;
    top: 0;
    left: 3%;
    transform: rotate(135deg);
    height: 0.3em;
    width: 0.3em;
}

div.tabs .container .tabs-box .cta.disabled::after {
    color: var(--text-accent); 
    transform: rotate(315deg);
    top: 2%;
}

div.tabs .container .tabs-box .cta.disabled:hover::after {
    color: var(--text-primary);
}

/*contenuto testuale tab*/
div.tabs .container .text-box {
    width: 67%;
    background-color: var(--background-primary-banner);
    padding: 3em 6.5em;
    height: 350px;
    justify-content: center;
    line-height: 1.5;
}

div.tabs .container .text-box img {/*loader*/
    width: 50px;
    height: 50px;
    animation:spin .5s linear infinite;
    transform-origin: 50% 50%;
}

/*****************
SECTION CONTACT US
*****************/
div#contact-us {
    background-color: var(--background-accent-banner);
    color: var(--text-primary);
    padding: 4em 0;
}

div#contact-us .container {
    padding: 0 5em;
    align-items: flex-start;
    justify-content: center;
}

div#contact-us .contact-us, 
div#contact-us .inner-form {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

div#contact-us .inner-form {
    align-items: center;
    height: 100%;
}

div#contact-us .contact-us .title {
    display: none;
}

/*form*/
div#contact-us .inner-form input, 
div#contact-us .inner-form  textarea {
    background-color: var(--background-accent-banner);
    border: solid 2px var(--background-accent);
    color: var(--text-primary);
}

div#contact-us .inner-form input {
    height: 3.5em;
    padding-left: 1em;
}

div#contact-us .inner-form input:focus-visible, 
div#contact-us .inner-form  textarea:focus-visible {
    outline: none;
}

div#contact-us .inner-form textarea {
    padding: 1em 0 0 1em;
    resize: none;
    height: 12em;
    max-width: 100%;
}

div#contact-us .inner-form .top-input {
    justify-content: space-between;
}

div#contact-us .inner-form .top-input input {
    width: 48%;
    margin-bottom: 1em;
}

div#contact-us .inner-form .bottom-input .error {
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(255, 0, 0);
    width: fit-content;
    padding-bottom: 1em;
}

/*submit button enabled*/
div#contact-us .inner-form .cta.contact-us {
    width: fit-content;
    background-color: var(--background-primary);
    color: var(--text-accent);
    align-self: flex-start;
    padding: 0.9em 4em;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 1em;
    position: relative;
}

div#contact-us .inner-form .cta.contact-us:hover {
    background-color: var(--background-primary);
    color: var(--text-accent);
}

div#contact-us .inner-form .cta.contact-us::after {
    top: 41%;
    left: 75%;
    color: var(--text-accent);
}

/*submit button disabled*/
div#contact-us .inner-form .cta.contact-us:disabled {
    color: var(--text-primary);
    background-color: var(--background-accent-banner);
    border: solid 1px var(--background-primary);
}

div#contact-us .inner-form .cta.contact-us:disabled:hover {
  cursor: not-allowed;
}

div#contact-us .inner-form .cta.contact-us:disabled::after {
    color: var(--text-primary);
}

/*****
FOOTER
******/
footer {
    background-color: var(--background-accent-banner);
    border-top: 0.1em solid var(--background-primary);
}

footer .container {
    padding: 4em 5em;
    flex-direction: column;
    align-items: center;
}

footer .container .logo-footer {
    width: 10em;
    margin-bottom: 4em;
}

footer .container ul.footer-link {
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 4em;
}

footer .container .social {
    width: 7em;
    justify-content: space-between;
}

footer .container .social a {
    text-decoration: none;
}

footer .container .social a i {
    font-size: 1.5em;
    color: var(--footer-icon);
    transition: 0.3s;
}

footer .container .social a:hover i {
    color: var(--text-primary);
}

/************
COOKIE BANNER
************/
#cookie-banner {
    position: fixed;
    bottom: 0;
    background-color: var(--background-primary-banner);
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 0;
    z-index: 1002;
    display: none;
}

#cookie-banner p.caption {
    margin-top: 0;
    line-height: unset;
    font-size: 0.8em;
}

#cookie-banner .cta {
    width: 10em;
}

#cookie-banner .cta::after {
    content: unset;
}

/**********************
MEDIA QUERIES MIN-WIDTH
**********************/
@media screen and (min-width: 576px) {
    /*small*/
    .d-sm-show {
        display: block !important;
    }
}

@media screen and (min-width: 768px) {
    /*medium*/
    .d-md-hide {
        display: none !important;
    }
}

@media screen and (min-width: 992px) {
    /*large*/
    .d-lg-hide {
        display: none !important;
    }

    .d-lg-show {
        display: block !important;
    }

    .navbar {
        padding-left: 2em;
        padding-right: 2em;
    }
}

@media screen and (min-width: 1200px) {
    /*x-large*/
    .navbar {
        padding-left: 0em;
        padding-right: 0em;
    }

}

/**********************
MEDIA QUERIES MAX-WIDTH
**********************/
@media screen and (max-width: 1400px) {
    .my-header .container {
        padding: 0 4em;
    }
}

@media screen and (max-width: 1200px) {
    .owl-theme .owl-item .slider-card .overlay {
        width: 100%;
        height: 100%;
    }

    div.banners .banner .banner-text .inner-text{
        width: 70%;
    }

    #cookie-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #cookie-banner p.caption{
        text-align: center;
        padding: 0 1em;
        line-height: 1.5;
    }

    #cookie-banner .cta {
        margin-top: 1em;
    }
}

@media screen and (max-width: 992px) {
    .owl-nav {
        display: none !important;
    }

    .my-header .owl-theme .owl-item .slider-card {
        background-position: 75% 0;
    }

    .card .text {
        padding: 2em 5em;
    }

    /*section banners*/
    div.banners .banner {
        flex-direction: column !important;
        height: fit-content;
    }

    div.banners .banner .banner-text {
        width: 100%;
        height: 450px;
    }

    div.banners .banner .banner-text .inner-text{
        width: 40%;
        left: 30%;
    }

    div.banners .banner:nth-child(2) .banner-text .inner-text{
        left: 70%;
    }

    div.banners .banner .banner-image {
        width: 100%;
        height: 600px;
    }

    /*tabs-section*/
    div.tabs .container {
        flex-direction: column;
        align-items: center;
        padding: 3em 0;
    }

    div.tabs .container .tabs-box,
    div.tabs .container .text-box {
        width: 100%;
    }

    div.tabs .container .tabs-box {
        display: flex;
    }

    div.tabs .container .text-tabs .cta {
        width: calc(100% / 3);
    }

    div.tabs .container .text-box {
        padding: 3em 2em;
        height: fit-content;
    } 

    /*form contact us*/
    div#contact-us .container {
        height: fit-content;
        padding: 2em 0;
        flex-direction: column-reverse;
        align-items: center;
    }

    div#contact-us .contact-us, 
    div#contact-us .inner-form {
        width: 80%;
    }

    div#contact-us .inner-form  h1{
        margin-bottom: 1em;
        align-self: flex-start;
    }

}

@media  screen and (max-width: 768px) {
    h1.caption {
        font-size: 4em;
    }

    .owl-item .slider-card .text {
        width: 50%!important;
        left: 40%;
    }

    .owl-item .slider-card .text p {
        font-size: 1em;
    }

    div.cards .card .text {
        padding: 2em 1.5em;
    }

    div.tabs .container .tabs-box {
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    div.cards .card .text {
        padding: 1em 2em;
    }

    div.banners .banner .banner-text .inner-text {
        width: 70%;
        left: 50% !important;
    }

    div#contact-us .inner-form .top-input {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div#contact-us .inner-form .top-input input {
        width: 100%;
    }

    footer .container .logo-footer {
        margin-bottom: 2em;
    }

    footer .container ul.footer-link {
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        height: 10em;
        align-items: center;
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 374px) {
    .cta::after {
        content: unset;
    }
}

/*********
ANIMATION
*********/
/*loadre spinner*/
@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}







